<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>

    <!-- Ensure that everything scales appropriately on a mobile device -->
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

    <!-- Let's borrow a cool looking Font from Google -->
    <link href='https://fonts.googleapis.com/css?family=Quicksand:300,400,700' rel='stylesheet' type='text/css'>

    <link href="/stylesheets/style.css" rel="stylesheet">
</head>

<body>


<!-- This screen appears when a user clicks "CREATE" on the Title Screen -->
<div id="gameArea">
    <div id="role-game-template">
        <div class="createGameWrapper">

            <div class="role-wrapper">
                <div class="info role-info" id="name">Name: {{role}}</div>
                <div class="info role-info" id="role">Role: {{role}}</div>
                <div class="info-wrapper">
                    <div id="tasks">
                        <div class="tasks-header info">
                            Tasks
                        </div>
                        <div class="tasks-list">
                            <div class="task">
                                <div class="task-header">
                                    <div style="width: 25%; float: left; font-size: 1.2em; font-weight: 700;">
                                        {{mainTaskHeader}}
                                    </div>
                                    <div class="task-form">
                                        <label for="main-task">Answer:</label>
                                        <input id="main-task" type="text"/>
                                        <button class="btn" id="mainTaskAnswer">Send</button>
                                    </div>
                                </div>
                                <div class="task-description">
                                    {{mainTaskDescription}}
                                </div>
                            </div>
                            <div class="task">
                                <div class="task-header">
                                    <div style="width: 25%; float: left; font-size: 1.2em; font-weight: 700;">
                                        {{subTaskOneHeader}}
                                    </div>
                                    <div class="task-form">
                                        <label for="sub-task-1">Answer:</label>
                                        <input id="sub-task-1" type="text"/>
                                        <button class="btn" id="subTaskOneAnswer">Send</button>
                                    </div>
                                </div>
                                <div class="task-description">
                                    {{subTaskOneDescription}}
                                </div>
                            </div>
                            <div class="task">
                                <div class="task-header">
                                    <div style="width: 25%; float: left; font-size: 1.2em; font-weight: 700;">
                                        {{subTaskTwoHeader}}
                                    </div>
                                    <div class="task-form">
                                        <label for="sub-task-2">Answer:</label>
                                        <input id="sub-task-2" type="text"/>
                                        <button class="btn" id="subTaskTwoAnswer">Send</button>
                                    </div>
                                </div>
                                <div class="task-description">
                                    {{subTaskTwoDescription}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="story-wrapper">
                    <div class="info" id="story">
                        <div class="story-header">Story:</div>
                        <div>
                            {{role}}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- JavaScript Libraries -->

<!-- jQuery! -->
<script src="/libs/jquery-2.0.2.min.js"></script>

<!-- TextFit resizes text to fill a container.
    It's used so the titles and game words fit properly on any size screen.
    https://github.com/STRML/textFit   -->
<script src="/libs/textFit.min.js"></script>

<!-- FastClick is used to eliminate the 300ms delay when clicking items on a mobile device
    https://github.com/ftlabs/fastclick -->
<script src="/libs/fastclick.js"></script>

<!-- app.js is where all the client-side Anagrammatix game logic -->
<script src="/javascripts/role.js"></script>

</body>
